/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.colmn {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.colmn:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
/*.column_3 {
	width: 100%;
}*/
.column_2 {
	width: 66.1%;
}
.column_1 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.colmn { margin: 1% 0 1% 0%;}
	.column_1, .column_2/*, .column_3*/ { width: 80%; }
}