  .results {
      padding: 2%;
  }

  .result-item {
      border: #38003c solid;
      margin: 2%;
      padding: 1%;
      background-color: #38003c;
      color: white;
  }

  .result-item p {
      color: #04f5ff;
  }

  #petition-div {
    margin: 2%;
    padding: 2% 5% 2% 5%;
    /*background-color: #00ff85;*/
    border: #38003c dashed;
}

.winner {
    /*background-color: #04f5ff;*/
    color: #00ff85;
}

.votes {
    float: right;
    font-weight: bold;
}

.result-item li {
    padding-right: 2%;
    border-bottom: white solid;
    height: 50px;
    border-bottom-width: 90%;
    margin-right: 2%;
}
