<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/main.css" />
</head>
<body>
    <nav class="topnav" id="myTopnav">
        <a href="admin_dash.html" class="logo">Admin</a>
        <a href="admin_offices.html" class="menu">Government Offices</a>
        <a href="admin_parties.html" class="menu">Political Parties</a>
        <a href="#" class="menu">Sign Out</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
		<div class="content">
			<div class="center">
				<h3>Howdy, Admin! This is your dashboard</h3>
				<hr>
				<p>Use the menu to manage Political Parties and Government Offices</p>
			</div>
		</div>
		<script src="./../../scripts/main.js"></script>
</body>
