<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Government Offices</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/dash.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/forms.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/admin.css" />
</head>
<body>
        <nav class="topnav" id="myTopnav">
            <a href="admin_dash.html" class="logo">Admin</a>
            <a href="admin_offices.html" class="menu">Government Offices</a>
            <a href="admin_parties.html" class="menu">Political Parties</a>
            <a href="#" class="menu">Sign Out</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
        <div class="content">
                <div class="center">
            <h3>Edit Government Office</h5>
                <hr>
                <h4>Enter new name for office <span id="office"></span></h4>
                    <form method="GET" enctype="text/plain" action="admin_offices.html?referer=add_office">
                        <label for="name">New Name</label>
                            <input type="text" name="name" required>
                        <input type="submit" name="save" value="Save">
                    </form>
            </div>
        </div>
        <script src="./../../scripts/main.js"></script>
        <script src="./../../scripts/edit_office.js"></script>
</body>
</html>
