<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Government Offices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/dash.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/forms.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/admin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/modal.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/grid.css" />
</head>
<body>
    <nav class="topnav" id="myTopnav">
        <a href="index.html" class="logo">Admin</a>
        <a href="offices.html" class="menu">Government Offices</a>
        <a href="parties.html" class="menu">Political Parties</a>
        <a href="../../index.html" class="menu">Sign Out</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction('menu')">
            <i class="fa fa-bars" style="font-size:24px"></i>
        </a>
    </nav>
        <div class="content">
                <div class="center row">
            <h3 class="h_center">Government Offices</h5>
                <hr>
                <div class="submit-wrap"><button id="add_office" onclick="showAddForm()">Add Office</button></div>
                <div id="alert_div"></div>
                <ol id="offices_list" class="dash">
                        <li>
                            Member of County Assembly
                        </li>
                        <li>
                            Women Representative
                        </li>
                        <li>
                            Governer
                        </li>
                </ol>
                <div id="add_office_form">
                        <span class="title">Add Government Office</span>
                        <form method="GET" enctype="multipart/form-data" action="admin_offices.html">
                            <label for="office-name">Office Name</label>
                                <input type="text" name="office-name" required>
                            <label for="office-type">Office Type</label>
                                <select name="type" required>
                                        <option name="type" value="">-----</option>
                                        <option name="type" value="federal">Federal</option>
                                        <option name="type" value="legislagive">Legislative</option>
                                        <option name="type" value="state">State</option>
                                        <option name="type" value="loc-govt">Local Government</option>
                                </select>
                                <div class="submit-wrap"><input type="submit" name="add" value="Add">
                                <button class="cancel" type="button" id="cancel_add_office">Cancel</button></div>
                        </form>
                        <span id="delete" class="hide"><button class="cancel">Delete</button></span>
                </div>
            </div>
        </div>
        <!-- Party add Success Modal -->
        <div id="myModal" class="modal">

            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p>Government Office Added successfully</p>
            </div>

        </div>
        <script src="./../../scripts/utilities.js"></script>
        <script src="./../../scripts/user.js"></script>
        <script src="./../../scripts/admin_offices.js"></script>
</body>
</html>
