<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Political Parties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/dash.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/forms.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/modal.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/grid.css" />
</head>
<body>
    <nav class="topnav" id="myTopnav">
        <a href="index.html" class="logo">Admin</a>
        <a href="offices.html" class="menu">Government Offices</a>
        <a href="parties.html" class="menu">Political Parties</a>
        <a href="../../index.html" class="menu">Sign Out</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction('menu')">
            <i class="fa fa-bars" style="font-size:24px"></i>
        </a>
    </nav>
        <div class="content">
                <div class="center row">
            <h3 class="h_center">Political Parties Manager</h5>
                <hr>
                <div id="alert_div"></div>
                <div class="submit-wrap">
                    <button id="add_party" onclick="showAddForm()">Add Party</button>
                    <button id="delete_party" class="cancel">Delete Party</button>
                    <button class="hide" id="cancel_delete">Cancel Delete</button>
                    <button class="hide cancel" id="delete_selected">Delete Selected</button>
                </div>
                <ul id="party_list" class="dash">
                        <li>
                            <img src="./../../images/logo3.png" alt="logo" title="party logo"  height="40" width="40">
                            <span>Orange Democractic Movement [ODM]</span>; 20156-0100, Siaya
                            <a class="edit" href="edit_party.html"><span id="edit" onclick="">&#9998; </span></a>
                            <input type="checkbox" name="to_delete" class="action" value="" onclick="showDelete()">
                        </li>
                        <li>
                            <img src="./../../images/logo.png" alt="logo" title="party logo" height="40" width="40">
                            <span>African National Congress [ANC]</span>; 31455-0110, Kismayu
                            <a class="edit" href="edit_party.html"><span id="edit" onclick="">&#9998; </span></a>
                            <input type="checkbox" name="to_delete" class="action" value="" onclick="showDelete()">
                        </li>
                        <li>
                            <img src="./../../images/logo1.png" alt="logo" title="party logo"  height="40" width="40">
                            <span>Labour Party [LP]</span>; 31454-0100, Nandi
                            <a class="edit" href="edit_party.html"><span id="edit" onclick="">&#9998; </span></a>
                            <input type="checkbox" name="to_delete" class="action" value="" onclick="showDelete()">
                        </li>
                        <li>
                            <img src="./../../images/logo2.png" alt="logo" title="party logo"  height="40" width="40">
                            <span>Jubilee Party [JP]</span>; 215445-0100, Eldoret
                            <a class="edit" href="edit_party.html"><span id="edit" onclick="">&#9998; </span></a>
                            <input type="checkbox" name="to_delete" class="action" value="" onclick="showDelete()">
                        </li>
                        <li>
                            <img src="./../../images/logo5.png" alt="logo" title="party logo"  height="40" width="40">
                            <span>Democractic Party [DP]</span>; 6235-0200, Githurai
                            <a class="edit" href="edit_party.html"><span id="edit" onclick="">&#9998; </span></a>
                            <input type="checkbox" name="to_delete" class="action" value="" onclick="showDelete()">
                        </li>
                </ul>
                <div id="add_party_form" hidden>
                        <p>Add Party Form</p>
                        <form method="GET" enctype="multipart/form-data" action="admin_parties.html">
                            <label for="party-name">Party Name</label>
                                <input type="text" name="party" required>
                            <label for="address">Address</label>
                                <input type="number" name="address" required>
                            <label for="postal-code">Postal Code</label>
                                <input type="number" name="postal-code" required>
                            <label for="town">Town / City</label>
                                <input type="text" name="town" required>
                            <label for="logo">Logo</label>
                                <input input type="file" accept="image/*" name="logo" required>
                                <div class="submit-wrap"><input type="submit" name="add" value="Add Party">
                                <button class="cancel" type="button" id="cancel_add_party">Cancel</button></div>
                        </form>
                </div>
            </div>
        </div>
        <!-- Party Add Success Modal -->
        <div id="myModal" class="modal">

            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p class="success">Party added successfully</p>
            </div>

        </div>
        <!-- Party Edit Success Modal -->
        <div id="party_edit_success" class="modal">

            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p class="success">Party edited successfully</p>
            </div>

        </div>
        <!-- No party Selectec Modal -->
        <div id="no_party_selected" class="modal">

            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p class="error">No party is selected</p>
            </div>

        </div>
        <!-- confirm delete Modal -->
        <div id="confirm_delete" class="modal">

                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <p>Are you sure? Delete</p>
                    <div id="delete_list"></div>
                    <button id="delete_no">Cancel</button>
                    <button class="cancel" id="delete_yes">Yes</button>
                </div>
    
            </div>
        <!-- No party Selectec Modal -->
        <div id="party_delete_success" class="modal">

                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <p class="success">Parties deleted successfully</p>
                </div>
    
            </div>
        <script src="./../../scripts/utilities.js"></script>
        <script src="./../../scripts/user.js"></script>
        <script src="./../../scripts/admin_parties.js"></script>
        <script src="./../../scripts/edit_party.js"></script>
</body>
</html>
