<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Government Offices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/main.css" />
    <script src="./../../scripts/utilities.js"></script>
</head>
<body onload="loadPetitions()">
        <script src="./../../scripts/admin.js"></script>
    <nav class="topnav" id="myTopnav">
        <a href="index.html" class="logo">Admin</a>
        <a href="candidates.html" class="menu">Candidates</a>
        <a href="petitions.html" class="menu">Petitions</a>
        <a href="users.html" class="menu">Users</a>
        <a href="results.html" class="menu">Results</a>
        <a href="offices.html" class="menu">Offices</a>
        <a href="parties.html" class="menu">Parties</a>
        <a href="#" class="menu" onclick="logoutHandler()">Sign Out</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction('menu')">
            <i class="fa fa-bars" style="font-size:24px"></i>
        </a>
    </nav>
        <div class="content">
                <div class="row">
            <h3 class="h_center">Petitions</h3>
                <hr>
                <div id="alert_div"></div>
                <ol id="petitions" class="dash">
                      <p class="h_center">
                          <img src="./../../images/loading.gif">
                      </p>
                </ol>
            </div>
        </div>

</body>
</html>
