<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <script src="../scripts/utilities.js"></script>
</head>
<body>
    <nav class="topnav" id="myTopnav">
        <a href="../index.html" class="logo">Politico&trade;</a>
        <a href="signin.html" class="menu">Sign In</a>
        <a href="signup.html" class="menu">Sign Up</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction('menu')">
            <i class="fa fa-bars" style="font-size:24px"></i>
        </a>
    </nav>  
        <div class="content">
            <div class="center">
                <div class="row">
                    <h1 class="info h_center">Password Reset</h1>
                    <hr>
                    <div id="alert_div"></div>
                        <div id="email_form">
                            <form onsubmit="resetRequest(); return false;">
                                <label for="email">Enter Your Email</label>
                                    <input type="email" name="email" id="email" required>
                                    <div class="submit-wrap"><input type="submit" name="reset" value="Reset Password"></div>
                            </form>
                        </div>

                        <div id="success_msg_div">

                        </div>

                        <div id="password_form" class="hide">
                            <form onsubmit="resetPassword(); return false;">
                                <div class="col-11 col-s-10">
                                    <label for="pass1">Password</label>
                                        <input type="password" name="pass1" id="pass1" required>
                                </div>
                                <div class="col-11 col-s-10">
                                    <label for="pass2">Password (Re-Enter)</label>
                                        <input type="password" name="pass2" id="pass2" required>
                                </div>
                                <div
                                  class="submit-wrap col-11 col-s-10"><input type="submit"
                                                             value="Update Password"></div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    <script src="../scripts/reset_pass.js"></script>
</body>
</html>
