<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Politico&trade;</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/forms.css" />
</head>
<body>
    <nav class="topnav" id="myTopnav">
        <a href="../index.html" class="logo">Politico&trade;</a>
        <a href="signin.html" class="menu">Sign In</a>
        <a href="signup.html" class="menu">Sign Up</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </nav>
    <div class="content">
        <div class="center">
                <h3>Sign Up</h3>
                <hr>
                    <form method="POST" enctype="text/plain" action="signin.html?referer=signup">
                        <label for="username">Username</label>
                            <input type="text" name="username" required minlength="3">
                        <label for="email">Email</label>
                            <input type="email" name="email" required>
                        <label for="pass1">Password</label>
                            <input type="password" name="pass1" required>
                        <label for="pass2">Password (Re-Enter)</label>
                            <input type="password" name="pass2" required>
                        <label for="user">User Type</label>
                            <ul><li><input type="radio" name="user" value="User" required> User</li>
                        <li><input type="radio" name="user" value="Politician" required> Politician</li></ul>
                            <input type="submit" name="signup" value="Sign Up">
                    </form>
            </div>
    </div>
    <script src="../scripts/main.js"></script>
</body>
</html>
