<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sign Up | Politico&trade;</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
</head>
<body>
    <nav class="topnav" id="myTopnav">
        <a href="../index.html" class="logo">Politico&trade;</a>
        <a href="signin.html" class="menu">Sign In</a>
        <a href="signup.html" class="menu">Sign Up</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction('menu')">
          <i class="fa fa-bars" style="font-size:24px"></i>
        </a>
    </nav>
    <div class="content">
        <div class="center row">
                <h2 class="h_center">Sign Up</h2>
                <p class="h_center">Already registered? <a href="signin.html">Sign In Here</a></p>
                <hr>
            <div id="alert_div"></div>
                    <div class="large-form" id="signup-form">
                        <form onsubmit="signUp(); return false;">
                            <div class="col-5 col-s-5">
                                <label for="fname">First Name</label>
                                    <input type="text" name="firstname" id="fname" required minlength="3">
                            </div>
                            <div class="col-5 col-s-5">
                                <label for="lname">Last Name</label>
                                    <input type="text" name="lastname" id="lname" required minlength="3">
                            </div>
                            <div class="col-5 col-s-5">
                                <label for="email">Email</label>
                                    <input type="email" name="email" id="email" required>
                            </div>
                            <div class="col-5 col-s-5">
                                <label for="phone">Phone Number</label>
                                    <input type="text" name="phone" id="phone" required>
                            </div>
                            <div class="col-11 col-s-11">
                                <label for="passport">Passport</label>
                                    <input input type="file" accept="image/*" name="passport"
                                           id="passport" required>
                            </div>
                            <div class="col-5 col-s-5">
                                <label for="pass1">Password</label>
                                    <input type="password" name="pass1" id="pass1" required>
                            </div>
                            <div class="col-5 col-s-5">
                                <label for="pass2">Password (Re-Enter)</label>
                                    <input type="password" name="pass2" id="pass2" required>
                            </div>
                            <div class="col-11 col-s-11">
                                <div class="submit-wrap"><input type="submit" name="signup" value="Sign Up"></div>
                            </div>
                        </form>
                    </div>
            </div>
    </div>
    <script src="../scripts/utilities.js"></script>
</body>
</html>
