<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Offices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/font-awesome.min.css" /
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/forms.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/grid.css" />
</head>
<body>
        <nav class="topnav" id="myTopnav">
            <a href="#" class="logo">Politician</a>
            <a href="political_offices.html" class="menu">Government Offices</a>
            <a href="#" class="menu">Petition</a>
            <a href="#" class="menu">Sign Out</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars" style="font-size:24px"></i>
            </a>
        </nav>
        <div class="content">
            <div class="center row">
                <h3>Political Offices</h3>
                <hr>
                <form method="GET" enctype="multipart/form-data" action="">
                    <ol>
                        <li>Office Title 1 <input type="radio" name="office" value="office1"></li>
                        <li>Office Title 2 <input type="radio" name="office" value="office2"></li>
                        <li>Office Title 3 <input type="radio" name="office" value="office3"></li>
                        <input type="submit" name="vie" value="Run for selected office">             
                    </ol>
                </form>
            </div>
        </div>
        <script src="./../../scripts/main.js"></script>
</body>
</html>
