<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/main.css" />
    <script src="./../../scripts/utilities.js"></script>
</head>
<body>
        <script>
            let token = fetchToken();
        </script>
    <nav class="topnav" id="myTopnav">
        <a href="index.html" class="logo">User</a>
        <a href="offices.html" class="menu">Offices</a>
        <a href="parties.html" class="menu">Parties</a>
        <a href="vote.html" class="menu">Vote</a>
        <a href="profile.html" class="menu">Profile</a>
        <a href="results.html" class="menu">Results</a>
        <a href="#" class="menu" onclick="logoutHandler()">Sign Out</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction('menu')">
            <i class="fa fa-bars" style="font-size:24px"></i>
        </a>
    </nav>
        <div class="content">
            <div class="row">
                <h3 class="h_center">Voting Page</h3>
                <hr>
                <div class="col-11 col-s-11">
                    <div id="alert_div">
                        <div class="alert info"> 
                                <span class="closebtn">&times;</span>
                                Use the office list to vote for each office; remember, only one vote per office!
                        </div>
                    </div>
                </div>
                <div class="col-3 col-s-3 menu">
                    <p class="dash" id="office-menu">
                        <a href="javascript:void(0);" class="icon" onclick="myFunction('candidates')">
                            <i class="fa fa-bars" style="font-size:24px"></i>
                        </a>Office List
                    </p>
                    <ul class="office-list" id="officeList">
                        <li class="office" id="prezzo">Presidential</li>
                        <li class="office" id="governer">Gubernatorial</li>
                        <li class="office" id="senator">Senatorial</li>
                        <li class="office">Women Representative</li>
                        <li class="office">Member of County Assembly</li>
                    </ul>
                    <div class="submit-wrap" id="btn-ctrls">
                        <button id="show-all" class="blend">Show All Offices</button> 
                    </div>
                </div>
    
                <div class="col-6 col-s-6 candidates-and-offices">
                    <div id="all-candidates">
                        <div id="prezzo-candidates" class="hide dash candidates-item">
                            <p class="h_center">Presidential Candidates</p>
                            <hr>
                            <div class="col-6 col-s-6">
                                <form enctype="text/plain" action="">
                                    <ul>
                                        <li><label class="container"><input type="radio" name="prezzo" value="rao" required> RAO Baba</label><span class="checkmark"></span></li>
                                        <li><label class="container"><input type="radio" name="prezzo" value="ruto" required> Ruto MyFren</label><span class="checkmark"></span></li>
                                        <li><label class="container"><input type="radio" name="prezzo" value="ruto" required> Bifwoli Wakoli</label><span class="checkmark"></span></li>
                                    </ul>
                                </div>
                            <div class="col-3 col-s-3 submit-div">
                                <input type="submit" name="prezzo-vote" id="vote" value="Submit Vote" onsubmit="addVote()">
                            </div>
                            </form>
                        </div>
                        <div id="governer-candidates" class="hide dash candidates-item">
                            <p class="h_center">Gubernatorial Candidates</p>
                            <hr>
                            <div class="col-6 col-s-6">
                                <form enctype="text/plain" action="">
                                    <ul>
                                    <li><label class="container"><input type="radio" name="gavana" value="waititu" required> Waititu Baba Yao</label><span class="checkmark"></span></li>
                                    <li><label class="container"><input type="radio" name="gavana" value="mbuvi" required> Mbuvi Sonko Kioko</label><span class="checkmark"></span></li>
                                    <li><label class="container"><input type="radio" name="gavana" value="kidero" required> Kidero Macho Nne</label><span class="checkmark"></span></li>
                                    </ul>
                            </div>
                            <div class="col-3 col-s-3 submit-div">
                                <input type="submit" name="governer-vote" id="vote" value="Submit Vote">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>

        <!-- The Modal -->
        <div id="vote_message" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Vote Submited</p>
            </div>

        </div>
        <script src="./../../scripts/vote.js"></script>
</body>
</html>
