<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./../../style/dash.css" />
</head>
<body>
    <nav class="topnav" id="myTopnav">
        <a href="user_dash.html" class="logo">User</a>
        <a href="user_offices.html" class="menu">Offices</a>
        <a href="user_parties.html" class="menu">Parties</a>
        <a href="vote.html" class="menu">Vote</a>
        <a href="profile.html" class="menu">Profile</a>
        <a href="results.html" class="menu">Results</a>
        <a href="#" class="menu">Sign Out</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" style="font-size:24px"></i>
        </a>
    </nav>
        <div class="content">
            <div class="center">
                <h3>Voting Page</h3>
                <hr>
                    <fieldset>
                            <legend><span class="title">Office Title 1</span></legend>
                                <form method="GET" enctype="text/plain" action="">
                                    <p>Select one candidate<p></p>
                                    <ul>
                                    <li><input type="radio" name="user" value="candidatex" required> Politician 1</li>
                                    <li><input type="radio" name="user" value="candidatey" required> Politician 2</li>
                                    </ul>
                                    <input type="submit" name="vote" id="vote   " value="Submit Vote">
                                </form>
                                <!--button id="vote1">Submit Vote</button-->
                        </fieldset>
                        <fieldset>
                                <legend><span class="title">Office Title 2</span></legend>
                                    <form method="GET" enctype="text/plain" action="">
                                        <p>Select one candidate<p></p>
                                        <ul>
                                        <li><input type="radio" name="user" value="candidate1" required> Politician 1</li>
                                        <li><input type="radio" name="user" value="candidate2" required> Politician 2</li>
                                        </ul>
                                        <input type="submit" name="vote" id="vote" value="Submit Vote">
                                    </form>
                            </fieldset>
                </div>
            </div>

        <!-- The Modal -->
        <div id="vote_message" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Vote Submited</p>
            </div>

        </div>
        <script src="./../../scripts/vote.js"></script>
        <script src="./../../scripts/main.js"></script>
</body>
</html>
